**/__pycache__
.#*
**/.DS_Store
**/simu_*/
**/data_50k.arp
**/new_methis*/
**/*.RData
**/input_example.txt
**/example_dataset/
**/*.nosex
**/*.ped
**/*.bed
**/*.map
**/*.vcf
**/*.fam
**/*.map
**/*.bim
**/*.P
**/*.eps
**/*.log
**/new_methis_50000_snp_complex_adm.html
**/.Rhistory
**/new_methis_pop_size*/