**/__pycache__
.#*
**/.DS_Store
**/simu_*/
**/Ne*/
**/Nu*/
**/alpha*/
**/data_50k.arp
**/new_methis*/
**/*.RData
**/input_example.txt
**/example_dataset/
**/*.nosex
**/*.ped
**/*.bed
**/*.map
**/*.vcf
**/*.fam
**/new_methis_50000_snp_complex_adm.html
**/dist/test*/